<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <h2>Author : {{author}}</h2>
    <h2>Age : {{age}}</h2>
    <h2>List: {{lst}}</h2>
    <!-- conditional statement -->
    {% if age >= 20 %}
  <h4>You will get driven license</h4>
{% elif age >= 10 %}
  <h4>You will not get driven license</h4>
{% else %}
  <h4>You are a child</h4>
{% endif %}

{{lst}}
<h1>{{lst | join:" - "}}</h1> 
{{ birthday | date:"D d M Y" }}
<h1>{{"Python is Fun" | cut:" "}}</h1>
<!--For Loop-->
{% for i in courses %}
<h3>{{i.id}}   {{i.name}}    {{i.fees}}</h3>
{% endfor %}


</body>
</html>